:root {
    --kindwhite: #fff;
    --kinddark: #212121;
    --hero: #FDF0D1;
    --containersbg: #AC7D88;
    --nav: #85586F;
    --footer: #643843;
}

.navbar-color {
    background-color: var(--nav);
}

.hero-color {
    background-color: var(--hero);
}

.todosection-color {
    background-color: var(--containersbg);
}

.footer-color {
    background-color: var(--footer);
}

.auto {
    height: 8rem;
}